@use "@link-sharing-app/shared-ui/src/variables" as *;

.empty-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  padding: 50px 20px 50px 30px;
  background-color: $color-gray-very-light;
  border-radius: 16px;
  box-sizing: border-box;

  .get-started {
    font-size: $font-size-heading-m;
    font-weight: $font-weight-bold;
    color: $color-dark;
    margin-top: 36px;
  }
  .use-add-button {
    font-size: $font-size-body-m;
    color: $color-gray;
    margin-top: 24px;
    width: 65%;
    text-align: center;
  }
}
