@use "@link-sharing-app/shared-ui/src/variables" as *;

.profile-details-container {
  padding: 40px 32px;
  height: 100%;
  background-color: $color-white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  .profile-details-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    h1 {
      font-size: $font-size-heading-m;
      font-weight: $font-weight-bold;
      color: $color-dark;
    }
    p {
      font-size: $font-size-body-m;
      color: $color-gray;
    }
  }
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    justify-content: center;
    .image-upload {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 32px;
      background-color: $color-gray-very-light;
      padding: 40px 32px;
      border-radius: 16px;
      .label-text,
      .formats {
        font-size: $font-size-body-m;
        color: $color-gray;
      }
      .upload-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $color-primary-light;
        padding: 50px 40px;
        border-radius: 16px;
        color: $color-primary;
        font-weight: $font-weight-bold;
        gap: 16px;
        cursor: pointer;
        .image-icon {
          font-size: 20px;
        }
        .text {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
    .inputs {
      margin-top: 32px;
      background-color: $color-gray-very-light;
      padding: 40px 32px;
      border-radius: 16px;
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &:not(:first-child) {
          margin-top: 24px;
        }
        label {
          font-size: $font-size-body-m;
          color: $color-gray;
        }
        input {
          font-size: $font-size-body-m;
          color: $color-gray;
          margin-top: 8px;
        }
      }
    }
  }
}
