.main-container {
  padding: 36px;
  .main-content {
    display: flex;
    height: 100%;
    margin-top: 36px;
    .preview {
      width: 40%;
    }
    .floating-content {
      width: 60%;
    }
  }
}
