.main-container {
  padding: 36px;
  .main-content {
    display: flex;
    height: 85vh;
    margin-top: 36px;
    gap: 2rem;
    .preview {
      width: 40%;
      height: 100%;
    }
    .floating-content {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      min-height: 0;
    }
  }
}
