.main-container {
  padding: 36px;
  .main-content {
    display: flex;
    min-height: 85vh;
    margin-top: 36px;
    gap: 2rem;
    .preview {
      width: 40%;
    }
    .floating-content {
      width: 60%;
      min-height: 100%;
    }
  }
}
